body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#container {
    width: 400px;
    outline: 1px solid black;
    box-sizing: border-box;
    
    
}

.row {
    display: flex; 
    
}

.cell {
    border: 1px solid black;
    margin: auto;
}

.black {
    color: black;
}